li {
  color: green;
}
h1 {
  color: blueviolet;
  font-size: 50px;
  border: 1px solid #ff2200;
}

h4 {
  background-color: black;
  color: #ffffff;
}

.moon {
  color: yellow;
  font-size: 14px;
}

.big-Texto {
  font-size: 30px;
}

#europa {
  color: #ff2200;
  font-size: 20px;
}

body {
  background-color: cadetblue;
  background-image: url("https://www.spacex.com/sites/spacex/files/amos17_v2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

li a {
  color: red;
  font-size: 30px;
  font-style: italic;
}

li > a {
  color: coral;
  font-size: 30px;
  font-style: italic;
}

h2 + h3 {
  border: 4px dashed;
  color: darkgreen;
}

a[href="/recibo"] {
  color: orchid;
}

/*
li:nth-of-type(odd) - Pares
*/

li:nth-of-type(3) {
  color: darkslategray;
  font-style: italic;
  font-weight: 700;
}

div {
  color: blue;
}
div ul li {
  color: red;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}
